pandas
numpy
scikit-learn
tqdm
networkx
rapidfuzz
torch
torchvision
torchaudio
azureml-core
azureml-pipeline
azureml-dataset-runtime
azureml-mlflow
transformers
openai
loguru
swifter
python-dotenv
pathlib
concurrent-log-handler
